#Verse {
    border: solid 1px #111;
    border-radius: 5px;
    padding: 20px;
    text-align: left;

    #Reference {
        font-weight: bold;
        font-size: 90%;
        margin-top: 15px;
        text-align: right;
    }
}

#Choices {
    margin: 20px 0;

    button {
        background-color: inherit;
        box-shadow: none;
        font-size: 90%;
        font-weight: bold;
        margin: 0 5px 5px 5px;

        @media (max-width: 800px) {
            min-width: 275px;
        }
    }

    .correct {
        $color :rgb(15, 158, 15);
        color: $color;
        border-color: $color;
    }

    .incorrect {
        $color :rgb(233, 77, 77);
        color: $color;
        border-color: $color;
    }
}